## <center>Manipulação de Dados com Pandas</center>

In [1]:
# CRIANDO UM DATAFRAME NA MÃO
import pandas as pd

In [2]:
## Criando um DataFrame em pandas, manualmente
    ## Criando através de um dicionário
dados = {
    'Estado': [
        'Santa Clara', 'Rio de Janeiro', 'Maranhão', 'Sergio', 'Goiás'
    ],
    'Ano': [
        2021, 2018, 2017, 2018, 2015
    ],
    'Taxa de Desemprego': [
        1.5, 1.7, 1.8, 1.3, 1.9
    ]
}

In [3]:
df = pd.DataFrame(dados)

In [4]:
df.head()

           Estado   Ano  Taxa de Desemprego
0     Santa Clara  2021                 1.5
1  Rio de Janeiro  2018                 1.7
2        Maranhão  2017                 1.8
3          Sergio  2018                 1.3
4           Goiás  2015                 1.9

In [5]:
type(df)

pandas.core.frame.DataFrame

In [6]:
df.dtypes

Estado                 object
Ano                     int64
Taxa de Desemprego    float64
dtype: object

In [7]:
pd.DataFrame(dados, columns=['Ano', 'Estado', 'Taxa de Desemprego'])

    Ano          Estado  Taxa de Desemprego
0  2021     Santa Clara                 1.5
1  2018  Rio de Janeiro                 1.7
2  2017        Maranhão                 1.8
3  2018          Sergio                 1.3
4  2015           Goiás                 1.9

In [8]:
df.columns

Index(['Estado', 'Ano', 'Taxa de Desemprego'], dtype='object')

In [9]:
df['Estado']

0       Santa Clara
1    Rio de Janeiro
2          Maranhão
3            Sergio
4             Goiás
Name: Estado, dtype: object

In [10]:
df.values

array([['Santa Clara', 2021, 1.5],
       ['Rio de Janeiro', 2018, 1.7],
       ['Maranhão', 2017, 1.8],
       ['Sergio', 2018, 1.3],
       ['Goiás', 2015, 1.9]], dtype=object)

In [11]:
df[['Estado', 'Taxa de Desemprego']]

           Estado  Taxa de Desemprego
0     Santa Clara                 1.5
1  Rio de Janeiro                 1.7
2        Maranhão                 1.8
3          Sergio                 1.3
4           Goiás                 1.9

In [12]:
df2 = pd.DataFrame(
    dados, 
    columns= ['Estado', 'Taxa de Desemprego', 'Taxa de Crescimento', 'Ano']
)

In [13]:
df2.filter(items=['Maranhão'], axis=0)

Empty DataFrame
Columns: [Estado, Taxa de Desemprego, Taxa de Crescimento, Ano]
Index: []

#### Numpy && Pandas juntos na Manipulação de Dados

In [14]:
df2.describe()

       Taxa de Desemprego          Ano
count            5.000000     5.000000
mean             1.640000  2017.800000
std              0.240832     2.167948
min              1.300000  2015.000000
25%              1.500000  2017.000000
50%              1.700000  2018.000000
75%              1.800000  2018.000000
max              1.900000  2021.000000

In [15]:
df2

           Estado  Taxa de Desemprego Taxa de Crescimento   Ano
0     Santa Clara                 1.5                 NaN  2021
1  Rio de Janeiro                 1.7                 NaN  2018
2        Maranhão                 1.8                 NaN  2017
3          Sergio                 1.3                 NaN  2018
4           Goiás                 1.9                 NaN  2015

In [16]:
df2.isna().sum() ## IS Not Available ## Usando agregado o sum, teremos resposta da quantidade e em qual coluna teremos valor

Estado                 0
Taxa de Desemprego     0
Taxa de Crescimento    5
Ano                    0
dtype: int64

In [17]:
import numpy as np

In [18]:
df2['Taxa de Crescimento'] = np.arange(1.5, 2, 0.11)
df2

           Estado  Taxa de Desemprego  Taxa de Crescimento   Ano
0     Santa Clara                 1.5                 1.50  2021
1  Rio de Janeiro                 1.7                 1.61  2018
2        Maranhão                 1.8                 1.72  2017
3          Sergio                 1.3                 1.83  2018
4           Goiás                 1.9                 1.94  2015

In [19]:
df2.dtypes

Estado                  object
Taxa de Desemprego     float64
Taxa de Crescimento    float64
Ano                      int64
dtype: object

In [20]:
df2.describe()

       Taxa de Desemprego  Taxa de Crescimento          Ano
count            5.000000             5.000000     5.000000
mean             1.640000             1.720000  2017.800000
std              0.240832             0.173925     2.167948
min              1.300000             1.500000  2015.000000
25%              1.500000             1.610000  2017.000000
50%              1.700000             1.720000  2018.000000
75%              1.800000             1.830000  2018.000000
max              1.900000             1.940000  2021.000000

In [21]:
## Sciling
df2[2:4]

     Estado  Taxa de Desemprego  Taxa de Crescimento   Ano
2  Maranhão                 1.8                 1.72  2017
3    Sergio                 1.3                 1.83  2018

In [22]:
df2[df2['Taxa de Desemprego']< 1.8]

           Estado  Taxa de Desemprego  Taxa de Crescimento   Ano
0     Santa Clara                 1.5                 1.50  2021
1  Rio de Janeiro                 1.7                 1.61  2018
3          Sergio                 1.3                 1.83  2018

In [23]:
df2

           Estado  Taxa de Desemprego  Taxa de Crescimento   Ano
0     Santa Clara                 1.5                 1.50  2021
1  Rio de Janeiro                 1.7                 1.61  2018
2        Maranhão                 1.8                 1.72  2017
3          Sergio                 1.3                 1.83  2018
4           Goiás                 1.9                 1.94  2015