#### Trabalhando com DataSet Externo

Preenchendo Valores Ausentes com Pandas

A função fillna() é usada para preencher os valores ausentes. </br>A função oferece muitas opções. </br>Podemos usar um valor específico, uma função agregada (por exemplo, média) ou o valor anterior ou seguinte.
</br>
</br>
Para ese exemplo usaremos a moda, a estatítica que representa o valor que aparece mais vezes em uma variável.

In [1]:
import pandas as pd

In [2]:
dataframe = pd.read_csv('dataset.csv')
dataframe.head()

,ID_Pedido,Data_Pedido,ID_Cliente,Segmento,Pais,Regiao,ID_Produto,Categoria,Nome_Produto,Valor_Venda,Quantidade
0,CA-2016-152156,2016-11-08,CG-12520,Consumer,United States,South,FUR-BO-10001798,Furniture,Bush Somerset Collection Bookcase,261.9600,NaN
1,CA-2016-152156,2016-11-08,CG-12520,Consumer,United States,South,FUR-CH-10000454,Furniture,"Hon Deluxe Fabric Upholstered Stacking Chairs,...",731.9400,NaN
2,CA-2016-138688,2016-06-12,DV-13045,Corporate,United States,West,OFF-LA-10000240,Office Supplies,Self-Adhesive Address Labels for Typewriters b...,14.6200,2.0
3,US-2015-108966,2015-10-11,SO-20335,Consumer,United States,South,FUR-TA-10000577,Furniture,Bretford CR4500 Series Slim Rectangular Table,957.5775,5.0
4,US-2015-108966,2015-10-11,SO-20335,Consumer,United States,South,OFF-ST-10000760,Office Supplies,Eldon Fold 'N Roll Cart System,22.3680,2.0

In [3]:
dataframe.isnull().sum()

ID_Pedido       0
Data_Pedido     0
ID_Cliente      0
Segmento        0
Pais            0
Regiao          0
ID_Produto      0
Categoria       0
Nome_Produto    0
Valor_Venda     0
Quantidade      2
dtype: int64

In [4]:
dataframe.shape

(9994, 11)

In [5]:
## Extraindo a moda da Coluna com valores ausentes
moda = dataframe['Quantidade'].value_counts().index[0]
## O atributo index[0], solicita a obtenção do valor maior, no caso, que mais aparece na listagem.
moda ## Ai, nesse caso, o valor que mais se repete, vai estar armazenado na variável (no caso, moda)

3.0

In [6]:
## Preencher valores ausentes (NA) com a moda
dataframe['Quantidade'].fillna(value=moda, inplace=True)
dataframe.isnull().sum()

ID_Pedido       0
Data_Pedido     0
ID_Cliente      0
Segmento        0
Pais            0
Regiao          0
ID_Produto      0
Categoria       0
Nome_Produto    0
Valor_Venda     0
Quantidade      0
dtype: int64

In [7]:
dataframe.head()

,ID_Pedido,Data_Pedido,ID_Cliente,Segmento,Pais,Regiao,ID_Produto,Categoria,Nome_Produto,Valor_Venda,Quantidade
0,CA-2016-152156,2016-11-08,CG-12520,Consumer,United States,South,FUR-BO-10001798,Furniture,Bush Somerset Collection Bookcase,261.9600,3.0
1,CA-2016-152156,2016-11-08,CG-12520,Consumer,United States,South,FUR-CH-10000454,Furniture,"Hon Deluxe Fabric Upholstered Stacking Chairs,...",731.9400,3.0
2,CA-2016-138688,2016-06-12,DV-13045,Corporate,United States,West,OFF-LA-10000240,Office Supplies,Self-Adhesive Address Labels for Typewriters b...,14.6200,2.0
3,US-2015-108966,2015-10-11,SO-20335,Consumer,United States,South,FUR-TA-10000577,Furniture,Bretford CR4500 Series Slim Rectangular Table,957.5775,5.0
4,US-2015-108966,2015-10-11,SO-20335,Consumer,United States,South,OFF-ST-10000760,Office Supplies,Eldon Fold 'N Roll Cart System,22.3680,2.0

In [8]:
## Fazendo uma Query dentro do dataframe, no modo SQL
    ## Dois modos de trazer informações de uma coluna
        ## 01. 
dataframe.Valor_Venda.describe()

count     9994.000000
mean       229.858001
std        623.245101
min          0.444000
25%         17.280000
50%         54.490000
75%        209.940000
max      22638.480000
Name: Valor_Venda, dtype: float64

In [9]:
        ## 02.
dataframe['Valor_Venda'].describe()

count     9994.000000
mean       229.858001
std        623.245101
min          0.444000
25%         17.280000
50%         54.490000
75%        209.940000
max      22638.480000
Name: Valor_Venda, dtype: float64

In [10]:
df2 = dataframe.query('250 < Valor_Venda < 10000')
df2['Valor_Venda'].describe()

count    2191.000000
mean      806.549161
std       875.370910
min       250.260000
25%       354.390000
50%       528.430000
75%       895.920000
max      9892.740000
Name: Valor_Venda, dtype: float64

In [11]:
df3 = df2.query('Valor_Venda > 800')
df3.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 651 entries, 3 to 9948
Data columns (total 11 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   ID_Pedido     651 non-null    object
 1   Data_Pedido   651 non-null    object
 2   ID_Cliente    651 non-null    object
 3   Segmento      651 non-null    object
 4   Pais          651 non-null    object
 5   Regiao        651 non-null    object
 6   ID_Produto    651 non-null    object
 7   Categoria     651 non-null    object
 8   Nome_Produto  651 non-null    object
 9   Valor_Venda   651 non-null    float64
 10  Quantidade    651 non-null    float64
dtypes: float64(2), object(9)
memory usage: 61.0+ KB

In [12]:
## Verificando ocorrencia de diversos valores
dataframe[dataframe['Quantidade'].isin([5, 7, 9, 11])]

,ID_Pedido,Data_Pedido,ID_Cliente,Segmento,Pais,Regiao,ID_Produto,Categoria,Nome_Produto,Valor_Venda,Quantidade
3,US-2015-108966,2015-10-11,SO-20335,Consumer,United States,South,FUR-TA-10000577,Furniture,Bretford CR4500 Series Slim Rectangular Table,957.5775,5.0
5,CA-2014-115812,2014-06-09,BH-11710,Consumer,United States,West,FUR-FU-10001487,Furniture,Eldon Expressions Wood and Plastic Desk Access...,48.8600,7.0
9,CA-2014-115812,2014-06-09,BH-11710,Consumer,United States,West,OFF-AP-10002892,Office Supplies,Belkin F5C206VTEL 6 Outlet Surge,114.9000,5.0
10,CA-2014-115812,2014-06-09,BH-11710,Consumer,United States,West,FUR-TA-10001539,Furniture,Chromcraft Rectangular Conference Tables,1706.1840,9.0
14,US-2015-118983,2015-11-22,HP-14815,Home Office,United States,Central,OFF-AP-10002311,Office Supplies,Holmes Replacement Filter for HEPA Air Cleaner...,68.8100,5.0
...,...,...,...,...,...,...,...,...,...,...,...
9974,US-2016-103674,2016-12-06,AP-10720,Home Office,United States,West,OFF-AR-10004752,Office Supplies,Blackstonian Pencils,18.6900,7.0
9977,US-2016-103674,2016-12-06,AP-10720,Home Office,United States,West,OFF-FA-10003467,Office Supplies,"Alliance Big Bands Rubber Bands, 12/Pack",13.8600,7.0
9981,CA-2017-163566,2017-08-03,TB-21055,Consumer,United States,East,OFF-LA-10004484,Office Supplies,Avery 476,16.5200,5.0
9982,US-2016-157728,2016-09-22,RC-19960,Consumer,United States,Central,OFF-PA-10002195,Office Supplies,"RSVP Cards & Envelopes, Blank White, 8-1/2"" X ...",35.5600,7.0
9988,CA-2017-163629,2017-11-17,RA-19885,Corporate,United States,South,TEC-PH-10004006,Technology,Panasonic KX - TS880B Telephone,206.1000,5.0

In [13]:
dataframe[dataframe['Quantidade'].isin([5, 7, 9, 11])].shape

(2128, 11)

In [14]:
df4 = dataframe[dataframe['Quantidade'].isin([5,7,9,11])]
df4.head(7)

,ID_Pedido,Data_Pedido,ID_Cliente,Segmento,Pais,Regiao,ID_Produto,Categoria,Nome_Produto,Valor_Venda,Quantidade
3,US-2015-108966,2015-10-11,SO-20335,Consumer,United States,South,FUR-TA-10000577,Furniture,Bretford CR4500 Series Slim Rectangular Table,957.5775,5.0
5,CA-2014-115812,2014-06-09,BH-11710,Consumer,United States,West,FUR-FU-10001487,Furniture,Eldon Expressions Wood and Plastic Desk Access...,48.8600,7.0
9,CA-2014-115812,2014-06-09,BH-11710,Consumer,United States,West,OFF-AP-10002892,Office Supplies,Belkin F5C206VTEL 6 Outlet Surge,114.9000,5.0
10,CA-2014-115812,2014-06-09,BH-11710,Consumer,United States,West,FUR-TA-10001539,Furniture,Chromcraft Rectangular Conference Tables,1706.1840,9.0
14,US-2015-118983,2015-11-22,HP-14815,Home Office,United States,Central,OFF-AP-10002311,Office Supplies,Holmes Replacement Filter for HEPA Air Cleaner...,68.8100,5.0
21,CA-2016-137330,2016-12-09,KB-16585,Corporate,United States,Central,OFF-AR-10000246,Office Supplies,Newell 318,19.4600,7.0
22,CA-2016-137330,2016-12-09,KB-16585,Corporate,United States,Central,OFF-AP-10001492,Office Supplies,"Acco Six-Outlet Power Strip, 4' Cord Length",60.3400,7.0

In [15]:
### Operadores Lógicos para Manipilação de Dados
df5 = dataframe[(dataframe['Segmento'] == 'Home Office') & (dataframe['Regiao'] == 'South')]
df5
# | essa barra é o OR, quando queremos uma coisa ou outra.
# != esses símbolos são não, negação de uma afirmativa

,ID_Pedido,Data_Pedido,ID_Cliente,Segmento,Pais,Regiao,ID_Produto,Categoria,Nome_Produto,Valor_Venda,Quantidade
182,CA-2014-158274,2014-11-19,RM-19675,Home Office,United States,South,TEC-PH-10003273,Technology,AT&T TR1909W,503.9600,4.0
183,CA-2014-158274,2014-11-19,RM-19675,Home Office,United States,South,TEC-PH-10004896,Technology,Nokia Lumia 521 (T-Mobile),149.9500,5.0
184,CA-2014-158274,2014-11-19,RM-19675,Home Office,United States,South,TEC-AC-10002345,Technology,HP Standard 104 key PS/2 Keyboard,29.0000,2.0
231,US-2017-100930,2017-04-07,CS-12400,Home Office,United States,South,FUR-TA-10001705,Furniture,Bush Advantage Collection Round Conference Table,233.8600,2.0
232,US-2017-100930,2017-04-07,CS-12400,Home Office,United States,South,FUR-TA-10003473,Furniture,Bretford Rectangular Conference Table Tops,620.6145,3.0
...,...,...,...,...,...,...,...,...,...,...,...
9805,CA-2016-136322,2016-10-21,AP-10720,Home Office,United States,South,FUR-FU-10002878,Furniture,"Seth Thomas 14"" Day/Date Wall Clock",45.5680,2.0
9806,CA-2016-136322,2016-10-21,AP-10720,Home Office,United States,South,OFF-BI-10004817,Office Supplies,GBC Personal VeloBind Strips,28.7520,8.0
9960,CA-2017-141446,2017-09-16,CL-12700,Home Office,United States,South,TEC-AC-10002305,Technology,KeyTronic E03601U1 - Keyboard - Beige,18.0000,1.0
9970,CA-2015-103772,2015-06-28,MP-17470,Home Office,United States,South,OFF-BI-10002867,Office Supplies,GBC Recycled Regency Composition Covers,119.5600,2.0
9971,CA-2015-103772,2015-06-28,MP-17470,Home Office,United States,South,OFF-AR-10000538,Office Supplies,"Boston Model 1800 Electric Pencil Sharpener, Gray",140.7500,5.0

In [19]:
df5.sample(5)

,ID_Pedido,Data_Pedido,ID_Cliente,Segmento,Pais,Regiao,ID_Produto,Categoria,Nome_Produto,Valor_Venda,Quantidade
8834,US-2017-132675,2017-09-24,KF-16285,Home Office,United States,South,TEC-PH-10003171,Technology,Plantronics Encore H101 Dual Earpieces Headset,89.900,2.0
5872,CA-2017-129910,2017-03-30,ME-17320,Home Office,United States,South,OFF-ST-10003282,Office Supplies,"Advantus 10-Drawer Portable Organizer, Chrome ...",59.760,1.0
8278,US-2016-139262,2016-02-21,LC-16960,Home Office,United States,South,OFF-ST-10001496,Office Supplies,Standard Rollaway File with Lock,432.456,3.0
2986,CA-2016-139269,2016-05-25,JB-16045,Home Office,United States,South,OFF-PA-10002893,Office Supplies,"Wirebound Service Call Books, 5 1/2"" x 4""",19.360,2.0
6242,CA-2014-134621,2014-12-21,DP-13390,Home Office,United States,South,OFF-BI-10000977,Office Supplies,Ibico Plastic Spiral Binding Combs,18.240,2.0

In [21]:
## AGRUPAMENTO DE DADOS VIA GROUP BY
df6 = dataframe[['Segmento', 'Regiao', 'Valor_Venda']].groupby(['Segmento', 'Regiao']).mean()
df6

                     Valor_Venda
Segmento    Regiao
Consumer    Central   207.946728
            East      238.875539
            South     233.390180
            West      217.033955
Corporate   Central   234.763466
            East      228.516929
            South     238.992025
            West      235.265911
Home Office Central   208.248046
            East      253.911805
            South     272.996329
            West      239.442692

In [22]:
## Agregando Funções via groupby() e agg()
df7 = dataframe[['Segmento', 'Regiao', 'Valor_Venda']].groupby(['Segmento', 'Regiao']).agg(['mean', 'std', 'count'])
    ## O groupby é por coluna não-númericas e o agg() é pela coluna númerica
df7

                    Valor_Venda
                           mean          std count
Segmento    Regiao
Consumer    Central  207.946728   587.906523  1212
            East     238.875539   633.371169  1469
            South    233.390180   559.346824   838
            West     217.033955   551.997547  1672
Corporate   Central  234.763466   818.947521   673
            East     228.516929   530.001654   877
            South    238.992025   586.176947   510
            West     235.265911   471.288764   960
Home Office Central  208.248046   371.009180   438
            East     253.911805   722.777318   502
            South    272.996329  1404.798466   272
            West     239.442692   529.242737   571